html {
  font-family: "Oswald", sans-serif;
  color: white;
  background: black;
}

.center {
  width: 100vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pages,
.about,
.partners,
.text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fortunes {
  width: 40vw;
}

.text a {
  margin: 2em;
  margin-top: 1.5em;
  font-size: 2em;
}

.text a:hover {
  cursor: pointer;
}

.about-info {
  margin-left: 1em;
  margin-right: 1em;
  margin: auto;
  margin-top: 1em;
  width: 25vw;
  font-size: 1.4em;
}

.about-info i {
  color: white;
  font-size: 3em;
}

.pages {
  margin-bottom: 5em;
}

.page {
  transition: color 0.3s ease;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 3em;
}

.partner {
  height: 12em;
  margin-top: 3em;
  margin-left: 6em;
  margin-right: 6em;
}

[active] {
  text-decoration: underline solid white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 0.7);
}

p {
  font-size: 2em;
  transition: all 0.5s ease;
}

.logo {
  height: 3em;
  margin-bottom: 2em;
  transition: all 0.5s ease;
}

.contact {
  position: absolute;
  left: 1%;
  bottom: 0%;
  transition: all 0.5s ease;
}

.socials {
  position: absolute;
  right: 1%;
  bottom: 3%;
  letter-spacing: 0.8em;
  transition: all 0.5s ease;
}

.socials i {
  color: white;
  font-size: 4.5em;
  margin-top: 0.6em;
  transition: font-size 0.5s ease, color 0.5s ease, margin-top 0.5s ease;
}

.tt {
  filter: grayscale(100%);
  height: 3.6em;
  margin-top: 0.6em;
  margin-left: 0.5em;
  margin-right: 0.6em;
  transition: opacity 0.5s ease, height 0.5s ease, margin-top 0.5s ease;
}

.tt:hover {
  opacity: 70%;
}

.socials i:hover {
  color: rgba(255, 255, 255, 0.7);
}

.contact p {
  font-size: 2em;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1214px) {
  p {
    font-size: 3em;
  }

  .socials i {
    font-size: 4em;
  }

  .tt {
    height: 3em;
  }
}

@media screen and (max-width: 705px) {
  .yt {
    width: 90vw;
  }

  .partner {
    height: 8em;
  }

  .text a {
    margin-top: 1em;
  }

  .about-info {
    margin-top: 3em;
    width: 70vw;
    font-size: 1.4em;
  }

  .fortunes {
    width: 90vw;
  }
}

@media screen and (max-width: 910px), (max-height: 680px) {
  .center {
    position: static;
    top: initial;
    left: initial;
    transform: translate(0, 0);
  }

  .logo {
    margin-top: 2em;
  }

  .yt {
    margin-bottom: 5em;
  }

  .contact {
    position: static;
    top: initial;
    right: initial;
  }

  .socials {
    position: static;
    top: initial;
    right: initial;
    margin-bottom: 3em;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 2em;
  }

  .socials i {
    font-size: 3em;
  }

  .tt {
    height: 2.5em;
  }

  .contact {
    margin-bottom: 2em;
  }

  .contact p {
    font-size: 1.5em;
  }
}
